body	{
        background:     #ffffff;
	margin-top:	1.58em;
	margin-left:	5%;
	margin-right:	5%;
	margin-bottom:	1.58em;
	padding-top:	0;
	padding-left:	0;
	padding-right:	0;
	padding-bottom:	0;
	border-top:	0;
	border-left:	0;
	border-bottom:	0;
	border-right:	0;
	width:	auto;
        font-family:    Geneva, Helvetica, Arial, sans-serif;
	}

p {
	margin-left:    2em;
	margin-right:   2em;
	}

li {
	margin-left:    1em;
	}

.subheads {
	margin-left:    -2.5em;
	font-size:      0.8em;
        color:          #666666;
        }

h1, h2 {
	color:          #336666;
        }

dt {    margin-left:    2em;
	font-style:     bold;
	}

h3 {
	font-style:     italic;
	}

h4 {
	margin-left:    2em;
	font-style:     italic;
	}


div.header {
	background:     #ddddff;
	color:          #3333ff;
	font-family:    sans-serif;
	font-size:      0.8em;
        margin-bottom:  3em;
	padding-left:   1.0em;
 	padding-top:    0.5em;
        padding-bottom: 0.5em;
	}

div.footer {
	background:     #ddddff;
	color:          #3333ff;
	font-family:    sans-serif;
	font-size:      0.8em;
        margin-top:     1em;
	padding-left:   1.0em;
 	padding-top:    0.5em;
        padding-bottom: 0.5em;
	}

pre {
	font-family:    monospace;
	font-size:      0.9em;
	margin-left:    4em;
	color:		#339999;
	}

code {
	color:		#339999;
}

.f { /* Fortran code */
	color:          #009933;
	}

.c { /* C code */
	color:          #ff3300;
	}

.new {
	color:          #ff0000;
	}        

blockquote.note {
	background-color: #cccccc;
	font-size:        0.8em;
	}
